/* IT Services CSS styles */

.it_floatLeft {
	float:left;
	width: 50%;
	height: 13em;
	border-bottom: 1px solid #000000;
	padding-top: 1%;
}
.it_icons {
	float: left;
	width: 30%;
	height: 90%;
}
.it_icons img {
	margin-left: 10%;
}
.it_content {
	float: right;
	width: 69%;
}
.post-content .dashicons{
	border-radius: 50%;
	border: 5px solid #cb2026;
}
.post-content .dashicons, .post-content .dashicons-before:before{
	width: 75px;
	height: 75px;
	font-size: 5em;
	color: #fff;
	background-color: #990000;
	padding: .2em;
}


/*---------------------------------------------------*/
/* Responsive */
/*---------------------------------------------------*/
@media only screen and (max-width: 1000px) {
.it_floatLeft {
	float: none;
	width: 100%;
}
.it_icons img {
	margin-left: 10%;
}
@media only screen and (max-width: 480px) {
.it_floatLeft {
	float: none;
	width: 100%;
}
.post-content img {
	height: 50%;
}
	