
/*---------------------------------------------------*/
/* IT icons */
/*---------------------------------------------------*/
.dashicons {
	border-radius: 50%;
	border: 5px solid #cb2026;
	width: 75px;
	height: 75px;
	font-size: 4.5em;
	color: #fff;
	background-color: #990000;
	padding: .2em;
}